header {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 9px;
  border-bottom: #fffff9 solid 1px;
  backdrop-filter: blur(2px);
}

h1{
  font-family: "Playpen Sans Hebrew", sans-serif;
  font-weight: bold;
}